NODE_ENV=development
PORT=5000
ALLOWED_ORIGINS=http://localhost:5173
MONGODB_URI=
JWT_SECRET=
JWT_REFRESH_SECRET=
BCRYPT_SALT_ROUNDS=12
GEMINI_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GOOGLE_SAFE_BROWSING_API_KEY=
VIRUSTOTAL_API_KEY=
